<% provide :title, "Notes"%>
<span>

<section class='notesform'>
	<%= form_for(@note) do |f| %>
      <% if @note.errors.any?%>
            <% @note.errors.full_messages.each do |error| %>
                  <li class="error"><%=error%></li>
            <%end%>
      <%end%>
       <div class="formfield">  
             <%= f.text_area :content, placeholder: 'note...', :rows => "1", class: 'text_area' %>
              
      </div>
      
      <div class="action">
            <%= f.submit "Create Note" , class: "submit" %>
      </div>
<% end %>
</section>

</span>
<span>

	<% @feed.each do |i| %>
  
		<section class ='note'><header>
     <span> 

       <%= image_tag i.user.avatar, size: '70x70', class: 'noteav'%>


      <h1 class='notefeedname'><%= link_to i.user.name, i.user %></h1>
   
	
  
  </span>
  <div class="content">
    <%= i.content.html_safe %>
  </div>
  <div class ="timeposted">
  Posted <%= time_ago_in_words(i.created_at) %> ago.
  <div>
</section>
 
		
	<% end %>
</span>


